/* tags */
body {
    font: 11pt futura, helvetica, arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: -.6vw;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}


/* structure */
.header {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.header img {
    width: 250px;
    height: 250px;
    margin-left: 5px;
}

.active {
    background-color: #4A6FCF ;
}

.active:hover {
    background-color: #4261a3 ;
}

.perinfo {
    padding-left: 15px;
}

.perinfo p {
    font-size: 16px;
    margin-left: 5px;
    size: 0 -10px;
}

.perinfo > div {
    display: flex;
    flex-direction: row;
}

.differences {
    font-weight: bold;
}

.degree {
    margin-top: 20px;
    margin-bottom: -10px;
}

.college {
    margin-top: -10px;
}

.date {
    margin-top: -10px;
    font-size: 80%;
}

.certificate {
    margin-top: 20px;
    margin-bottom: -10px;
}

.python {
    margin-top: -10px;
}

.qualifications {
    margin-top: 20px;
    margin-bottom: -10px;
}

.development {
    font-size: 95%;
}

.descriptions {
    width: 600px;
}

.descriptions p {
    margin-top: -15px;
}

.misfit {
    margin-top: -10px;
}

.spacing {
    margin-bottom: 30px;
}

.spacing_last {
    margin-bottom: 25px;
}

.age {
    margin-bottom: -25px;
}

.other1 {
    margin-bottom: -25px;
}

.other2 {
    margin-bottom: 5px;
}

.name {
    margin-top: -35px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.hosting {
    text-align: right;
    position: fixed;
    bottom: 3px;
    right: 3px;
    width: 100%;
    z-index: 999999;
    cursor: pointer;
    line-height: 0;
    display: block;
}

.hosting img {
    border-width: 0px;
    width: 180px;
    height: 45px;
    float: right;
}